<div class="filter-section standard-margin">
  <div class="search-box">
    <%= render "search_form.html", conn: @conn %>
  </div>
  <div class="city-filter">
    <% #<%= render "cities_dropdown.html", cities: @cities, conn: @conn %>
  </div>
</div>

<div class="list-section">
  <%= for place <- @places do %>
    <div class="list-item"><%= render "place_item.html", place: place, conn: @conn %></div>
  <% end %>
</div>
