<a href=<%= place_path(@conn, :show, @place) %> class="thumbnail">
  <%= if length(@place.images) > 0 do %>
    <img src=<%= Dobar.PlaceImage.url({List.first(@place.images).url, List.first(@place.images)}, :thumb) %> >
  <% end %>
  <div class = "caption text-center">
    <h3> <%= @place.name %></h3>
    <div class="image-description">
      <%= for category <- @place.categories do %>
        <%= "##{Gettext.gettext(Dobar.Gettext, category.name)}" %>
      <% end %>
    </div>
  </div>
</a>