/* Space out content a bit */
html,body{
  height:100%;
  background-color: black;
}

body, form, ul, table {
  font-family: 'Roboto Condensed', 'Harmattan', 'Scheherazade';
}

.container-fluid {
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 10px;
}

.standard-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.text-input {
  width: 100%;
  border: 2px solid #aaaaaa;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.lg-input {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.no-radius {
  border-radius: 0 !important;
}

.no-right-border {
  border-right: 0px;
}
/* Custom page header */

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  height: 10%;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #888888;
  background-color: black;
}

.header a{
  color: white;
}
.logo {
  width: 110px;
  height: 50px;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 5px;
  background-image: url("/images/logo.png");
  background-size: 100px 45px;
  border: solid 3px white;
}

.footer {
  border-top: solid 1px #777777;
  padding-top: 10px;
  background-color: black;
  height: 10%;
  color: white;
}

/* main area */
.main-area {
  min-height: 80vh;
  background-color: white;
  padding: 10px;
}


.main-content {
  
}


.search-area {
  min-width: 80%;
  margin: auto;
}
.btn-default {
  border: 2px solid orange  ;
}

#location-search-form{
  display: flex;
  -webkit-display: flex;
}

#search_term {
  font-size: 24px;
}

.city-filter {
  order: 2;
  flex: 1 1 2;
}

/* list section */
.list-section {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 20px;
}
.list-section.list-item {
  flex-grow: 1;
}

.icon {
  width: 85px;
  height: 85px;
}

.clickable {
  cursor: pointer;
}

.place-item{
  border: 2px solid orange;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
}