/* Space out content a bit */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', 'Scheherazade';
}

.root-container {
  min-height: 100%;
}
/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
}

.filter-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center; 
  justify-content: center;
}

.search-box {
  order: 1;
  flex: 3 1 0;
}

#search_term {
  font-size: 24px;
}

.city-filter {
  order: 2;
  flex: 1 1 2;
}

.logo {
  width: 180px;
  height: 80px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/logo.png");
  background-size: 175px 75px;
  border: solid 4px #000000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-right: 15px;
  padding-left: 15px;
}


.standard-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  width: 85px;
  height: 85px;
}

.clickable {
  cursor: pointer;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}